<hr>
<p>
  new-cmp works!
</p>
<hr>
<p>
  {{variable}}
</p>
<hr>
<b>Learning Pipes</b>
<p>
  <br>
  {{ variable | lowercase}}
  <br>
  {{ variable | uppercase}}
  <br>
  {{ d | date:'d/m/y'}}
  <br>
  {{ d | date:'shortTime'}}
  <br>
  {{ 0.92 | percent}}
  <br>
  {{ 0.92 | currency}}
  <br>
  {{ 0.92 | currency:'INR'}}
  <br>
  {{ 0.92 | currency:'INR':'code'}}
  <br>
  {{ months | slice:2:3}}

</p>
<hr>
<b>Learning for loops</b>
<br>
<div> Months:
  <select (change) = "changemonths($event)">
    <option *ngFor = "let i of months">{{i}}</option>
  </select>
  <span *ngIf="isAvailable; then condition1 else condition2"> Valid.</span>
  <ng-template #condition1> Invalid</ng-template>
  <ng-template #condition2>Valid</ng-template>
</div>
<hr>
<b>Learning Event Binding</b>
<br>
<button (click) = "myClickFunction($event)">
  button
</button>
<hr>

