button { 
  background-color: #b9048c;/*#04cafc;*/
  color: white; 
  padding: 2% ; 
  text-align: center; 
  text-decoration:solid;
  font-size:medium;
  display: inline-block; 
  margin-right: 3% ;
  border-radius: 5px;
} 
a{
 text-decoration: none;
 color: white;
}
h1{
  color: white; 
}

mat-card{
  border-radius: 5px;
  position: relative;
}

mat-card mat-card-footer{
  color: white;
  background-color: #1c0f44; 
  border-radius: 5px;
  padding: 1px 10px 1px 10px;
  margin: 1% 2px 1% 2px;
}

mat-toolbar {
  color: white;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  height: 15vh;

}
mat-toolbar mat-toolbar-row{
  color: white;
  background-color: #1c0f44; 
  border-radius: 5px ;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1% 1% 1% 1% ;
  height: 100%;

}
.toggle{
  display: inline-flex;
  position:relative;
  justify-content:flex-end;
  align-items: right;
}
mat-card mat-slide-toggle{
  color: white;
  background-color: #1c0f44;
  display:flex;
  position: relative;
  margin: 0;
  padding: 0%;

}
.light-theme {
--primary-color: #2196F3;
--accent-color: #FF4081;
--background-color: #FFFFFF;
--text-color: #000000;
}

/* Dark Theme */
.dark-theme {
--primary-color: #673AB7;
--accent-color: #FF9800;
--background-color: #303030;
--text-color: #FFFFFF;
}
/*
.main{
  background-color: #303030;
  margin: 0% 0% 0% 0%;
  height: 100vh;
  width: 100%;
  position:absolute;
  display:flex;
  flex-direction: column;
}
*/

