form{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    flex-direction: column;
}
a{
    color: #b9048c;
    background-color: #f9a8d4;
}
mat-card{
    background: linear-gradient(#f9a8d4, #b9048c);
}
