<p>
  add-project works!
</p>

<mat-card>
  <form>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>GitHub Link</mat-label>
      <input matInput placeholder="GitHub Link">
    </mat-form-field>
    <br>
    <a mat-raised-button color="basic" href="add"> <b>Add</b></a>
  </form>
  
</mat-card>

