img{
    width: 400px;
    height: auto;
    justify-content: center;
    align-items: center;
  }

.grid-content{
    margin: 1px 1px 1px 3px;
    padding: 1px 1px 1px 1px;
}
mat-grid-tile{
    background: linear-gradient(to bottom,#c87dff, #ff67ab);
    margin: 2px 5px 2px 5px;
    border-radius: 10px;
}